.about{
	padding: 150px 0;
	& .about-inro{
		padding: 60px 0;
	}
	@media screen and (max-width:767px) {
		padding: 75px 0;
	}
}
.about__container{
	& h2{
		@include titleH2;
		line-height: 110%;
		margin-bottom: 65px;
		color: $--title-color;
	}
}
.about__intro_row{
	gap: 60px;
	justify-content: space-between;
	position: relative;
	padding-top: 50px;
	@media screen and (max-width:767px){
		flex-direction: column;
		gap: 30px;
	}
	&:before{
		content: "";
    position: absolute;
    top: 5%;
    left: 0;
    width: 40%;
    min-height: 371px;
	height: 100%;
    z-index: -1;
		background: url(../images/Mask-Group.png) center center / cover no-repeat;
		@media screen and (max-width:767px){
		top: 0;
		width: 100%;
		height: calc(65% - 20px);
		background-position: top;
		}
		@media screen and (max-width:550px){
		height: calc(50% + 2vw);
		min-height: 240px;
		}
	}
}

.intro__description{
	flex: 1 1 45%;
	width: calc(50% - 30vw);
	color: $--title-color;
	@media screen and (max-width:767px){
		width: 100%;
		& p{
			margin-bottom: 20px;
		}
	}
}
.intro__image{
	display: flex;
	 justify-content: flex-end;
	 width: calc(25% - 30px);
	 flex: 1 1 45%;
	 color: $--title-color;
	 @media screen and (max-width:867px) {
		justify-content: flex-end;
        flex: 0 1 40%;
        margin-left: -3%;
    }
	 @media screen and (max-width:767px) {
		justify-content: flex-end;
		width: 100%;
		height: auto;
		margin-bottom: 40px;
    } 
}
.intro__image-content{
	margin-right: -6%;
    margin-top: 0px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    height: 80%;
	@media screen and (max-width:867px) {
		margin:0;
	}
	& div{
		background-color: #fff;
		padding: 15px;
		text-align: center;
	}
}
.intro__description{
	& div{
		font-size: 21px;
		font-weight: 400;
		line-height: 1;
	}
	& ul{
		display: flex;
		gap: 10px;
		@media screen and (max-width:550px) {
			flex-wrap: wrap;
		}
		& li{
			display: flex;
			flex-direction: column;
			gap: 5px;
			flex: 1 1 25%;
    		width: auto;
			@media screen and (max-width:550px) {
				flex: 1 1 45%;
			}
			& div{
				display: flex;
				flex-direction: column;
				font-size: 16px;
				flex: 1 1 50%;
			}
		}
		& .count{
			font-size: 40px;
			line-height: 1;
			display: flex;
			flex-direction: row;
			align-items: end;
			gap: 5px;
			& span{
				font-size: 25px;
				display: block;
				max-width: 100%;
				width: fit-content;
			}
		}
	}
}