.form__wrapper{
	display: flex;
	background-color: $--light-gray;
	align-items: normal;
	@media screen and (max-width:980px) {
		flex-direction: column;
		gap: 40px;
	}
}
.form__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 0 40%;
	padding: 20px 30px;
	color: $--title-color;
	@media screen and (min-width:1200px) {
		padding: 70px 80px;
	}
	@media screen and (max-width:550px) {
		padding: 20px 30px;
	}
	& h2{
		font-size: 36px;
    line-height: 96%;
    font-weight: 300;
    margin-bottom: 30px;
	}
	& form{
		max-width: 415px;
		width: 100%;
		& input:invalid, 
		& input:valid {
			box-shadow: none;
			outline: none;
		}
		& input,
		& textarea{
		outline: none;
		}
		& textarea{
			resize: none;
			max-height: 45px;
			padding: 10px 5px ;
			margin-bottom: 30px;
		}
		& input[type="submit"]{
			display: inline-block;
			cursor: pointer;
				border: 0;
				font-weight: 500;
				text-align: center;
				text-decoration: none;
				vertical-align: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-color: $--primary;
				padding: 6px 20px;
				font-size: 16px;
				line-height: 1.5;
				box-shadow: none;
				transition: .2s ease-in-out;
				color: $--white;
				max-width: 245px;
				width: 100%;

			&:hover {
				background-color: $--hover-color;
			}
		}
	}
}
.wpcf7-form-control-wrap {
    position: relative;
}
.form__field, 
.form__select, 
.wpcf7-form__field, 
.wpcf7-form__select {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: auto;
    padding: 10px 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100.9%;
    color: #373737;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}
.form__img{
	width: 60%;
	@media screen and (max-width:980px) {
		width: 100%;
	}
	& img{
		max-height: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		@media screen and (max-width:550px) {
			aspect-ratio:  1 / 1;
		}
	}
}