.hero__container{
	position: relative;
	.heading &{
		height: 70dvh;
		padding: 60px 0 100px 0;
		background: url(../images/about-heading.jpg) 100% 50% / cover no-repeat ;
	}
}
.hero__content{
	position: absolute;
	top: calc(50% - 20px);
	max-width: 630px;
    z-index: 2;
	left: 50px;
	.heading &{
		position: relative;
		top:auto;
	}
	@media screen and (min-width:640px) {
		top: calc(50% - 100px );
	}
	@media screen and (min-width:1440px) {
		top: calc(50% - 250px);
	}
	@media screen and (min-width:1024px) {
		left: 130px;
	}
	@media screen and (max-width:639px) {
		left: 25px;
	}
	& div{
		font-weight: 300;
		line-height: 1;
		color: $--white;
		font-size: calc(6.94444vw + 6.66667px)
	}
	& a{
		color: $--primary;
		font-size: 16px;
		display: flex;
		gap: 10px;
		align-items: center;
		& svg{
			max-width: 38px;
			max-height: 38px;
		}
	}
}
.hero__video{
	max-width: 100%;
	width: 100%;
	align-self: start;
	height: 70dvh;
	& video{
		max-width: 100%;
		width: 100%;
		display: block;
		height: 70dvh;
		object-fit: cover;
	}
}

