.hero__container{
	position: relative;

}
.hero__content{
	position: absolute;
	top: calc(50% - 20px);
	max-width: 630px;
    z-index: 2;
	left: 50px;
	@media screen and (min-width:640px) {
		top: calc(50% - 100px );
	}
	@media screen and (min-width:1440px) {
		top: calc(50% - 250px);
	}
	@media screen and (min-width:1024px) {
		left: 130px;
	}
	@media screen and (max-width:639px) {
		left: 25px;
	}
	& div{
		font-weight: 300;
		line-height: 1;
		color: $--white;
		font-size: calc(6.94444vw + 6.66667px)
	}
	& a{
		color: $--primary;
		font-size: 16px;
		display: flex;
		gap: 10px;
		align-items: center;
		& svg{
			max-width: 38px;
			max-height: 38px;
		}
	}
}
.hero__video{
	max-width: 100%;
	width: 100%;
	align-self: start;
	height: 100%;
	& video{
		max-width: 100%;
		width: 100%;
		display: block;
		height: 100%;
		// aspect-ratio: 1 / .5;
	}
}
.mouse{
	max-width: 16px;
    margin: 20px auto;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
	& svg{
		max-width: inherit;
	}
	&:after{
		content: '';
		width: 16px;
		height: 10px;
		background: url(../images/arrow-short-down.svg) center center / contain no-repeat;
	}
}
