.image__text,
.image__image{
	flex: 1 1 45%;
	@media screen and (max-width:767px) {
		max-width: 100%;
		width: 100%;
		margin: 0;
	}
}
.image__text-row{
	margin-bottom: 60px;
	@media screen and (max-width: 767px){
		flex-direction: column;
	}
}
.image__text{
	& p{
		margin-bottom: 18px;
	}
	@media screen and (max-width:767px) {
		padding: 10px;
	}
}
.image__image{
	position: relative;
	@media screen and (max-width:767px) {
		aspect-ratio: 1 / .75;
	}
}
.image__text-row.row-reverse{
	flex-direction: row-reverse;
	@media screen and (max-width:767px) {
		flex-direction: column;
	}
}
.image__text-row:has(.swiper){
	.image__text{
		flex: 1 1 15%;
	}
	.image__image{
		aspect-ratio: auto;
		@media screen and (max-width:1023px) and (min-width:768px) {
			max-width: 60%;
		}
		@media screen and (max-width:767px) {
			max-width: 100%;
		}
	}
}
.carousel{
	max-width: 90%;
	position: relative;
}
.carousel-slide{
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	overflow: hidden;
	&:hover{
		& img{
			transform: scale(1.1);
		}
	}
}
.carousel-btn{
	position: absolute;
	top: calc(50% - 40px);
	z-index: 2;
	cursor: pointer;
	&:hover{
		transform: scale(1.2);
	}
}
.carousel-button-prev{
	right: inherit;
	left: 0;
}
.carousel-button-next{
	right: 0;
}
.art-name{
	font-size: 22px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333;
}
.art-price{
	color: $--primary;
}
.carousel .carousel-btn {
    display: none;
}

.carousel.show-arrows .carousel-btn{
    display: block;
}