.news__title{
	color: $--title-color;
	margin-bottom: 40px;
	& h2{
		font-size: 36px;
		line-height: 1;
		font-weight: 300;
	}
	
}

.news__item{
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: .3s ease-in-out;
	& span{
		font-weight: 300;
    	color: #919191
	}
	&:hover > .news__item-img img{
		transform: scale(1.2);
	}
}
.news__item-img{
	display: flex;
	margin-bottom: 20px;
	max-height: 230px;
	height: auto;
	overflow: hidden;
	width: 100%;
	aspect-ratio: 1;
	& img{
		transition: .3s ease-in-out;
		max-width: 100%;
		width:100%;
		height: auto;
		object-fit: cover;
	}
}