.partners__container{
	gap: 40px;
	@media screen and (max-width:1023px) {
		flex-direction: column;
	}
}
.partners__descr{
	flex: 0 0 24%;
	& h2{
		margin-bottom: 40px;
	}
	& p{
		margin-bottom: 20px;
	}

}
.partners__images{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;
	@media screen and (max-width:1023px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (max-width:550px) {
		display: flex;
		flex-direction: column;
	}
	& img{
		max-width: 100%;
		width: 100%;
		max-height: 60px;
		object-fit: cover;
	}
}
