.product__intro{
    padding: 70px 0 40px;
	@media screen and (max-width:767px) {
		padding: 40px 0 30px;
	}
}
.product__intro-card{
	display: flex;
	@media screen and (max-width:1023px) {
		flex-direction: column;
		gap: 20px;
	}
}
.product__intro-card-img{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	& img{
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	@media screen and (max-width:1023px) {
		width: 100%;
		& img{
			object-fit: cover;
		}
	}
}
.product__intro-card-descr{
	width: 30%;
	color: #373737;
	padding: 20px;
	& h1{
		font-size: 56px;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 20px;
		color: #333;
		@media screen and (max-width:767px) {
			font-size: 32px;
		}
	}
	& p{
		margin-bottom: 35px;
		min-height: 210px;
		line-height: 1.5;
	}
	& .btn{
		background-color: $--primary;
		color: $--white;
		text-transform: uppercase;
	}
	@media screen and (max-width:1023px) {
		width: 100%;
	}
}
.product__intro-card-price{
	display: flex;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
}
.product__intro-price{
	color: $--primary;
}