/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #373737;
  background: #fff;
}

main {
  margin-top: 95px;
}
@media screen and (max-width: 367px) {
  main {
    margin-top: 110px;
  }
}

.container {
  max-width: 1450px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.container-small {
  max-width: 1060px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 15px;
}

h2 {
  font-weight: 300;
  font-size: 28px;
}
@media screen and (min-width: 640px) {
  h2 {
    font-size: 36px;
  }
}

.beige {
  font-size: 18px;
  color: #b79c7a;
  font-weight: 300;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  border: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 6px 20px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: none;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: #c3893f;
}

.breadcrumbs {
  padding: 5px 0;
  margin-bottom: 10px;
}
.breadcrumbs__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  font-weight: 300;
}
.breadcrumbs a {
  cursor: pointer;
  color: #494949;
  text-transform: uppercase;
}

.video-btn {
  background: transparent;
  outline: none;
  color: #b79c7a;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.video-btn svg {
  max-width: 38px;
  max-height: 38px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.animation-row_description {
  max-width: 555px;
  font-weight: 300;
  line-height: 1.41;
  padding-left: 15px;
}

.animation-row_image {
  max-width: 700px;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.arrow-after {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #b79c7a;
  transition: 0.3s ease-in-out;
}
.arrow-after:hover {
  color: #c3893f;
}
.arrow-after:after {
  content: "";
  width: 20px;
  height: 15px;
  background: url(../images/arrow-right.svg) center center/cover no-repeat;
}

.mb-m {
  margin-bottom: 60px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .title-row {
    flex-direction: column;
    align-items: flex-start;
  }
}

.breadcrumbs__container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-wrap: nowrap;
}
.breadcrumbs__container a:nth-child(1) {
  text-transform: uppercase;
}
.breadcrumbs__container a {
  color: #767676;
}
.breadcrumbs__container span {
  color: #373737;
  font-weight: 500;
}

.mouse {
  position: absolute;
  bottom: -57px;
  left: 50%;
  max-width: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
}
.mouse svg {
  max-width: inherit;
}
.mouse:after {
  content: "";
  width: 16px;
  height: 10px;
  background: url(../images/arrow-short-down.svg) center center/contain no-repeat;
}

.quotes {
  background-image: url(../images/quotes.png);
  width: 37px;
  height: 37px;
  background-size: contain;
  background-position: 50%;
  margin-bottom: 23px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 25px 0;
  color: #969696;
  font-size: 12px;
  height: auto;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (min-width: 1440px) {
  .header__container {
    justify-content: space-between;
    gap: 65px;
  }
}
.header__container .menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  .header__container .menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    height: 100dvh;
    z-index: 1;
    max-width: 280px;
    width: 100%;
    padding: 80px 20px 25px;
    background-color: #fff;
    will-change: transform;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }
  .open .header__container .menu {
    transform: translateX(0);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }
}
.header__container .menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 980px) {
  .header__container .menu ul {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    gap: 25px;
  }
}
.header__container .menu ul li {
  font-weight: 400;
  color: #585858;
  font-size: 16px;
}
.header__container .menu ul li a {
  color: inherit;
}
.header__container .menu ul ul.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: none;
  background-color: #fff;
  gap: 15px;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
@media screen and (min-width: 981px) {
  .header__container .menu ul ul.sub-menu {
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 240px;
    top: calc(100% + 7px);
    left: 0;
    transform: translateY(10px);
    position: absolute;
    padding: 25px 20px;
  }
}
@media screen and (max-width: 980px) {
  .header__container .menu ul ul.sub-menu {
    position: static;
    padding: 0;
    opacity: 1;
    transform: none;
    transition: none;
    visibility: visible;
    background-color: transparent;
    box-shadow: none;
    margin-top: 5px;
    gap: 10px;
  }
}
.header__container .menu ul ul.sub-menu li a:hover {
  color: #a58359;
}
.header__container .menu ul li:has(.sub-menu) {
  position: relative;
  transition: 0.3s linear;
}
@media screen and (min-width: 981px) {
  .header__container .menu ul li:has(.sub-menu):hover .sub-menu, .header__container .menu ul li:has(.sub-menu):focus-within .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.header__container .menu ul li:not(.sub-menu li) {
  position: relative;
}
@media screen and (max-width: 980px) {
  .header__container .menu ul li:not(.sub-menu li) {
    color: #b79c7a;
  }
}
.header__container .menu ul li:not(.sub-menu li)::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b79c7a;
  transform: translateY(7px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.header__container .menu ul li:not(.sub-menu li):hover:before {
  opacity: 1;
  transform: translateY(0);
}
.header__container .menu ul li:not(.sub-menu li) > a {
  font-size: 18px;
  display: flex;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.header__container .menu ul li:not(.sub-menu li) > a .sub {
  margin-top: 0px;
  font-size: 75%;
  line-height: 0;
  position: relative;
  display: block;
}

.header__info {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .header__info {
    margin: 0;
    gap: 30px;
  }
}

.header__lang {
  font-size: 18px;
  line-height: 1.5;
}

.header__call {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .header__call {
    flex-direction: column-reverse;
    gap: 5px;
  }
}

.call {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .call span {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .call svg {
    display: none;
  }
}

.header__popup {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #b79c7a;
    font-weight: 700;
    padding: 0;
  }
}

.burgerBtn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .burgerBtn {
    display: block;
    width: 50px;
    height: 50px;
    border: 0.5px solid #fff;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    right: 0;
    top: calc(50% - 22.5px);
    border-radius: 50%;
    z-index: 10;
  }
  .burgerBtn .btn-menu-line {
    width: 28px;
    height: 2px;
    position: absolute;
    left: 10px;
    background-color: #b79c7a;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .burgerBtn .btn-menu-line1 {
    bottom: 23px;
    transition: bottom 0.1s ease-out, top 0.1s ease-out, transform 0.1s ease-out 0.1s;
  }
  .burgerBtn .btn-menu-line2 {
    top: 14px;
  }
  .burgerBtn .btn-menu-line3 {
    bottom: 14px;
    transition: bottom 0.1s ease-out, top 0.1s ease-out, transform 0.1s ease-out 0.1s;
  }
  .open .burgerBtn .btn-menu-line1 {
    top: 21px;
    transform: rotate(-45deg);
  }
  .open .burgerBtn .btn-menu-line2 {
    opacity: 0;
  }
  .open .burgerBtn .btn-menu-line3 {
    bottom: 24px;
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #2f2f2f;
  color: #fff;
}

.footer__top {
  padding: 65px 0 45px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer__top {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.footer__menu {
  display: flex;
  gap: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__menu {
    max-width: 87%;
  }
}
@media screen and (max-width: 1023px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
  }
}
.footer__menu li {
  text-transform: none;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__menu li a {
  transition: color 0.4s ease-in-out;
}
.footer__menu .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 15px 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media screen and (max-width: 640px) {
  .footer__menu .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.footer__menu .sub-menu li > a {
  color: #fff;
  font-size: 16px;
}
.footer__menu li:not(.sub-menu li) {
  text-transform: uppercase;
  color: #b79c7a;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contact {
  display: flex;
  gap: 15px;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .footer__contact {
    flex-direction: column;
    margin: 0;
  }
}

.footer__social {
  display: flex;
  gap: 15px;
}
.footer__social a {
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: 0.3s ease-in-out;
}
.footer__social a svg {
  max-width: 24px;
  max-height: 24px;
}
.footer__social a svg path {
  transition: 0.3s ease-in-out;
}
.footer__social a:hover svg path {
  fill: #b79c7a;
}

.footer__copy {
  padding: 40px 0;
  font-size: 12px;
  line-height: 1.43;
  border-top: 1px solid #636363;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
@media screen and (max-width: 550px) {
  .footer__copy {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__copy p {
  max-width: 38%;
}
@media screen and (max-width: 550px) {
  .footer__copy p {
    max-width: 100%;
  }
}

.hero__container {
  position: relative;
  padding-top: 20px;
}

.hero__content {
  position: absolute;
  top: calc(50vh - 20px);
  max-width: 630px;
  z-index: 2;
  left: 50px;
}
@media screen and (min-width: 640px) {
  .hero__content {
    top: calc(50vh - 100px);
  }
}
@media screen and (min-width: 1440px) {
  .hero__content {
    top: calc(50vh - 250px);
  }
}
@media screen and (min-width: 1024px) {
  .hero__content {
    left: 130px;
  }
}
@media screen and (max-width: 639px) {
  .hero__content {
    left: 25px;
  }
}
.hero__content h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
  font-size: calc(6.94444vw + 6.66667px);
}

.hero__video {
  max-width: 100%;
  width: 100%;
  align-self: start;
  height: 70dvh;
}
.hero__video video {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 70dvh;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 150px 0;
}
.about .about-inro {
  padding: 60px 0;
}
@media screen and (max-width: 767px) {
  .about {
    padding: 75px 0;
  }
}

.about__container h2 {
  font-weight: 300;
  font-size: 28px;
  line-height: 110%;
  margin-bottom: 65px;
  color: #767676;
}
@media screen and (min-width: 640px) {
  .about__container h2 {
    font-size: 36px;
  }
}

.about__intro_row {
  gap: 60px;
  justify-content: space-between;
  position: relative;
  padding-top: 50px;
}
@media screen and (max-width: 767px) {
  .about__intro_row {
    flex-direction: column;
    gap: 30px;
  }
}
.about__intro_row:before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 40%;
  min-height: 371px;
  height: 100%;
  z-index: -1;
  background: url(../images/Mask-Group.png) center center/cover no-repeat;
}
@media screen and (max-width: 767px) {
  .about__intro_row:before {
    top: 0;
    width: 100%;
    height: calc(65% - 20px);
    background-position: top;
  }
}
@media screen and (max-width: 550px) {
  .about__intro_row:before {
    height: calc(50% + 2vw);
    min-height: 240px;
  }
}

.intro__description {
  flex: 1 1 45%;
  width: calc(50% - 30vw);
  color: #767676;
}
@media screen and (max-width: 767px) {
  .intro__description {
    width: 100%;
  }
  .intro__description p {
    margin-bottom: 20px;
  }
}

.intro__image {
  display: flex;
  justify-content: flex-end;
  width: calc(25% - 30px);
  flex: 1 1 45%;
  color: #767676;
}
@media screen and (max-width: 867px) {
  .intro__image {
    justify-content: flex-end;
    flex: 0 1 40%;
    margin-left: -3%;
  }
}
@media screen and (max-width: 767px) {
  .intro__image {
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
}

.intro__image-content {
  margin-right: -6%;
  margin-top: 0px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  height: 80%;
}
@media screen and (max-width: 867px) {
  .intro__image-content {
    margin: 0;
  }
}
.intro__image-content div {
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.intro__description div {
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
}
.intro__description ul {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 550px) {
  .intro__description ul {
    flex-wrap: wrap;
  }
}
.intro__description ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 1 25%;
  width: auto;
}
@media screen and (max-width: 550px) {
  .intro__description ul li {
    flex: 1 1 45%;
  }
}
.intro__description ul li div {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  flex: 1 1 50%;
}
.intro__description ul .count {
  font-size: 40px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}
.intro__description ul .count span {
  font-size: 25px;
  display: block;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

.parallax-item {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
}
.parallax-item-left {
  background-image: url("../images/parallax-item-3-left@2x.jpg");
  background-size: 735px;
  background-position: left -50px bottom;
  opacity: 0.85;
  transform: translateY(6.25%);
}
.parallax-item-right {
  background-image: url("../images/parallax-item-1@2x.jpg");
  background-size: 735px;
  background-position: right -57% top;
  opacity: 0.85;
  transform: translateY(6.25%);
}

section {
  position: relative;
  overflow: hidden;
}
section .parallax-item {
  z-index: -1;
}
section .container {
  position: relative;
}

@media screen and (max-width: 576px) {
  .parallax-item {
    display: none;
  }
}
.image__text,
.image__image {
  flex: 1 1 45%;
}
@media screen and (max-width: 767px) {
  .image__text,
  .image__image {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.image__text-row {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .image__text-row {
    flex-direction: column;
  }
}

.image__text p {
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .image__text {
    padding: 10px;
  }
}

.image__image {
  position: relative;
}
@media screen and (max-width: 767px) {
  .image__image {
    aspect-ratio: 1/0.75;
  }
}
.image__image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 110%;
  width: 120%;
}

@media screen and (max-width: 767px) {
  .image__text-row.row-reverse {
    flex-direction: column;
  }
}

.our {
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .our__container {
    flex-direction: column;
  }
}

.our-slider {
  position: relative;
  aspect-ratio: auto;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .our-slider {
    max-width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .our-slider {
    max-width: 100%;
  }
}

.our__content {
  flex: 1 1 15%;
}
.our__content p {
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .our__content {
    padding: 10px;
  }
}

.carousel {
  max-width: 90%;
  position: relative;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  overflow: hidden;
}
.carousel-slide:hover img {
  transform: scale(1.1);
}

.carousel-btn {
  position: absolute;
  top: calc(50% - 40px);
  z-index: 2;
  cursor: pointer;
}
.carousel-btn:hover {
  transform: scale(1.2);
}

.carousel-button-prev {
  right: inherit;
  left: 0;
}

.carousel-button-next {
  right: 0;
}

.art-name {
  font-size: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #333;
}

.art-price {
  color: #b79c7a;
}

.carousel .carousel-btn {
  display: none;
}

.carousel.show-arrows .carousel-btn {
  display: block;
}

.owl {
  padding: 40px 0 60px;
}

.owl-slide {
  display: flex;
  background: #ebebeb;
}
@media screen and (max-width: 767px) {
  .owl-slide {
    flex-direction: column;
  }
}

.owl-slide img {
  flex: 0 0 58%;
  max-width: 58%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}
@media screen and (max-width: 1023px) {
  .owl-slide img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}
@media screen and (max-width: 767px) {
  .owl-slide img {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.owl-slide-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #767676;
  flex: 0 0 41%;
  max-width: 41%;
  padding: 30px;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .owl-slide-content {
    padding: 60px;
  }
}
@media screen and (max-width: 767px) {
  .owl-slide-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.owl-slide-content h2 {
  line-height: 1.1;
}

.action {
  color: #b79c7a;
  font-size: 16px;
}

.manufacture {
  background-color: #fff;
}

.manufacture-wrap {
  height: auto;
}

.manufacture__container {
  overflow: auto;
  z-index: 0;
  transition: 0.3s ease;
}
.manufacture__container h2 {
  margin: 25px 0 10px;
  font-size: 24px;
}
.manufacture__container p {
  margin-bottom: 20px;
}
.manufacture__container p:has(+ ul) {
  margin-bottom: 0;
}
.manufacture__container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 20px;
  margin-left: 20px;
}

.manufacture-btn {
  background: none;
  color: black;
  margin: 20px 0;
  font-weight: 700;
  outline: none;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;
}

.news__title {
  color: #767676;
  margin-bottom: 40px;
}
.news__title h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.news__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.news__item span {
  font-weight: 300;
  color: #919191;
}
.news__item:hover > .news__item-img img {
  transform: scale(1.2);
}

.news__item-img {
  display: flex;
  margin-bottom: 20px;
  max-height: 230px;
  height: auto;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
}
.news__item-img img {
  transition: 0.3s ease-in-out;
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners__container {
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .partners__container {
    flex-direction: column;
  }
}

.partners__descr {
  flex: 0 0 24%;
}
.partners__descr h2 {
  margin-bottom: 40px;
}
.partners__descr p {
  margin-bottom: 20px;
}

.partners-intro {
  background-color: #f5f5f5;
  padding: 65px 0 50px;
  background-image: url(../images/parallax-item-1@2x.png);
  background-position: left -637px top;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.partners-intro__container {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  z-index: 1;
}
.partners-intro__container h2 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.partners__images {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  .partners__images {
    display: flex;
    flex-direction: column;
  }
}
.partners__images img {
  flex: 1 1 27%;
  width: calc(33.3333333333% - 60px);
  max-height: 60px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 auto;
}

.form__wrapper {
  display: flex;
  background-color: #f5f5f5;
  align-items: normal;
}
@media screen and (max-width: 980px) {
  .form__wrapper {
    flex-direction: column;
    gap: 40px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 40%;
  padding: 20px 30px;
  color: #767676;
}
@media screen and (min-width: 1200px) {
  .form__container {
    padding: 30px 60px;
  }
}
@media screen and (max-width: 550px) {
  .form__container {
    padding: 20px 30px;
  }
}
.form__container h2 {
  font-size: 36px;
  line-height: 96%;
  font-weight: 300;
  margin-bottom: 30px;
}
.form__container form {
  max-width: 415px;
}
.form__container form input:invalid, .form__container form input:valid {
  box-shadow: none;
  outline: none;
}
.form__container form input, .form__container form textarea {
  outline: none;
}
.form__container form textarea {
  resize: none;
  max-height: 45px;
  padding: 10px 5px;
  margin-bottom: 30px;
}
.form__container form input[type=submit] {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #b79c7a;
  padding: 6px 20px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: none;
  transition: 0.2s ease-in-out;
  color: #fff;
  max-width: 245px;
  width: 100%;
}
.form__container form input[type=submit]:hover {
  background-color: #c3893f;
}

.wpcf7-form-control-wrap {
  position: relative;
}

.form__field,
.form__select,
.wpcf7-form__field,
.wpcf7-form__select {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  padding: 10px 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100.9%;
  color: #373737;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 0;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.form__img img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 550px) {
  .form__img img {
    aspect-ratio: 1/1;
  }
}

.filters h1 {
  color: #767676;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .filters h1 {
    font-size: 32px;
  }
}

.filters__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0;
  border-bottom: 2px solid #f5f5f5;
}
@media screen and (max-width: 550px) {
  .filters__category {
    padding: 20px 0;
  }
}

.filter__category {
  flex: 1 0 auto;
  min-width: 155px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media screen and (max-width: 550px) {
  .filter__category {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.filter__category:hover span {
  color: #c3893f;
}
.filter__category span {
  transition: 0.3s ease-in-out;
  display: block;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}
.filter__category img {
  max-width: 140px;
  width: 100%;
  max-height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 550px) {
  .filter__category img {
    max-width: 100%;
    aspect-ratio: 1/0.7;
  }
}

.products.grid-marking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1023px) {
  .products.grid-marking {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .products.grid-marking {
    display: flex;
    flex-direction: column;
  }
}

.products.flex-marking {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  gap: 40px;
  width: 100%;
}
.products.flex-marking .product-card {
  flex-direction: row;
  width: 100%;
}
.products.flex-marking .product-card:hover .product-card-img-hover {
  opacity: 1;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  top: -20px;
  left: -20px;
}
@media screen and (max-width: 767px) {
  .products.flex-marking .product-card {
    flex-direction: column;
  }
}
.products.flex-marking .product-card-img {
  width: 50%;
  height: 100%;
  aspect-ratio: 1/0.5;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .products.flex-marking .product-card-img {
    width: 100%;
  }
}
.products.flex-marking .product-card-img-hover img {
  -o-object-fit: cover;
     object-fit: cover;
}
.products.flex-marking .product-card-content {
  width: 50%;
  padding: 20px;
}
.products.flex-marking .product-card-content p {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}
@media screen and (max-width: 767px) {
  .products.flex-marking .product-card-content {
    width: 100%;
  }
}

.product-category {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0 5px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  flex: 0 0 33%;
  height: auto;
  width: 100%;
}
.product-card h3 {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 300;
}

.product-card:hover .product-card-img-hover {
  opacity: 1;
  width: calc(100% + 40px);
  height: calc(100% + 20px);
  top: -20px;
  left: -20px;
}

.product-card-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  position: relative;
  aspect-ratio: 1/1;
  position: relative;
  margin-bottom: 20px;
}
.product-card-img img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) and (min-width: 550px) {
  .product-card-img img {
    aspect-ratio: 1/0.5;
  }
}

.product-card-price {
  color: #b79c7a;
}

.product-card-img-hover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 767px) {
  .product-card-img-hover {
    display: none;
  }
}
.product-card-img-hover img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card-content {
  display: block;
  width: 100%;
}
.product-card-content p {
  display: none;
}

.filter__parameters {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 980px) {
  .filter__parameters {
    flex-direction: column;
  }
}

.product-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 980px) {
  .product-filters {
    flex-direction: column;
  }
}

.filter__parameters-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #373737;
  pointer-events: all;
}

.nice-select {
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  position: relative;
  text-align: left;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: none;
  background-color: #fff;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 200px;
  top: calc(100% + 7px);
  left: -10px;
  transform: translateY(10px);
  position: absolute;
}

.option {
  text-align: left;
  transition: all 0.2s;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  cursor: pointer;
  color: #373737;
  border: 0;
  font-weight: 300;
  width: 100%;
  padding: 0 20px;
}
.option:hover {
  background-color: #f6f6f6;
}

.nice-select.open .list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transform: translateY(0);
}

.nice-select:after {
  right: 0;
  border: 0;
  top: 14px;
  background-image: url(../images/angle-right.svg);
  background-size: contain;
  height: 6px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: rotate(0);
  transition: all 0.3s ease;
  transform-origin: center;
}

.nice-select:hover, .nice-select:active, .nice-select:focus {
  border-color: #999;
}

.sort-view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-tile-list {
  display: flex;
  gap: 5px;
  align-items: center;
}

.view-btn {
  background: none;
  border: none;
  outline: none;
}

.view-btn-active svg {
  fill: #b79c7a;
}

.product__intro {
  padding: 70px 0 40px;
}
@media screen and (max-width: 767px) {
  .product__intro {
    padding: 40px 0 30px;
  }
}

.product__intro-card {
  display: flex;
}
@media screen and (max-width: 1023px) {
  .product__intro-card {
    flex-direction: column;
    gap: 20px;
  }
}

.product__intro-card-img {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.product__intro-card-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1023px) {
  .product__intro-card-img {
    width: 100%;
  }
  .product__intro-card-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.product__intro-card-descr {
  width: 30%;
  color: #373737;
  padding: 20px;
}
.product__intro-card-descr h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
  color: #333;
}
@media screen and (max-width: 767px) {
  .product__intro-card-descr h1 {
    font-size: 32px;
  }
}
.product__intro-card-descr p {
  margin-bottom: 35px;
  min-height: 210px;
  line-height: 1.5;
}
.product__intro-card-descr .btn {
  background-color: #b79c7a;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .product__intro-card-descr {
    width: 100%;
  }
}

.product__intro-card-price {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.product__intro-price {
  color: #b79c7a;
}

.productSlider {
  padding-bottom: 20px;
}

.product-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: auto;
  max-height: 445px;
}
.product-slide img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 445px;
}

img.half-height {
  max-height: 100%;
  height: calc(50% - 5px);
  -o-object-position: 100% 15%;
     object-position: 100% 15%;
}

.product-pagination.swiper-pagination {
  bottom: -6px;
}

.product-pagination .swiper-pagination-bullet {
  background-color: #373737;
}

.tech__container-tabs {
  color: #b79c7a;
  border: 1px solid #f5f5f5;
}

.tech__container-tabs-btns {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .tech__container-tabs-btns {
    flex-direction: column;
  }
}

.tech__container-tabs-btn {
  cursor: pointer;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 2px solid #f1f1f1;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tech__container-tabs-btn:hover {
  background-color: #fff;
}
.tech__container-tabs-btn svg {
  max-width: 25px;
  max-height: 25px;
}
.tech__container-tabs-btn.active-tab {
  background-color: #fff;
  cursor: default;
  border-bottom: none;
}
@media screen and (max-width: 980px) {
  .tech__container-tabs-btn {
    justify-content: flex-start;
    height: 70px;
  }
}

.tech__container-tabs-content {
  padding: 55px 65px;
  border: 2px solid #f1f1f1;
  border-top: 0;
  display: block;
  background-color: #fff;
}
.tech__container-tabs-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #767676;
  list-style-type: disc;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (max-width: 640px) {
  .tech__container-tabs-content {
    padding: 30px;
  }
}

.size-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.size-wrap img {
  width: 100%;
  border: 1px solid #767676;
}
@media screen and (min-width: 980px) {
  .size-wrap img {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (max-width: 980px) {
  .size-wrap {
    flex-direction: column;
  }
}

.product__slider-wrap {
  padding: 20px;
}

.interSlider {
  padding-bottom: 20px;
}

.inter-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  position: absolute;
  left: calc(50% - 100px);
}
.inter-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  background-color: #b79c7a;
}

.inter-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: auto;
  max-height: 445px;
}
.inter-slide img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 445px;
}

img.half-height {
  max-height: 100%;
  height: calc(50% - 5px);
  -o-object-position: 100% 15%;
     object-position: 100% 15%;
}

.details__info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  min-height: 70px;
}

.details__info-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  height: auto;
  justify-content: center;
  color: #767676;
  visibility: hidden;
  transform: scale(0.8);
}
.details__info-wrap img {
  max-width: 100px;
  max-height: 100px;
  height: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.details__info-wrap.active {
  visibility: visible;
  transform: scale(1);
}

.details__info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details__info-title {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.details__info-p {
  line-height: 1.4;
  font-size: 14px;
}

.details__content-wrap {
  display: flex;
  color: #767676;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .details__content-wrap {
    flex-direction: column-reverse;
  }
}

.details__content {
  flex: 0 0 30%;
}

.details__content-title {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 10px;
}
@media screen and (min-width: 640px) {
  .details__content-title {
    font-size: 36px;
  }
}

.details__content-prev {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 8% 15%;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 77.3%, 0.244);
}

.detail__user {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.detail__user img {
  max-width: 79px;
  max-height: 79px;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail__user-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-style: italic;
}

.details__img {
  flex: 0 0 70%;
}

.intres-title {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 40px;
}
@media screen and (min-width: 640px) {
  .intres-title {
    font-size: 36px;
  }
}

.intresSlider {
  max-width: 90%;
}

.intres-slider {
  position: relative;
}

.intres-slide {
  position: relative;
  background-color: #f5f5f5;
  padding: 20px;
}
.intres-slide:hover .inters-hover {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.inters-hover {
  position: absolute;
  top: 20px;
  left: 20px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.intres-btn {
  max-width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  cursor: pointer;
}

.intres-button-next {
  right: 0;
}

.intres-btn.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.heading {
  padding-bottom: 60px;
}

.heading__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 70dvh;
  position: relative;
  position: relative;
}
.heading__container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 6s linear;
  background-image: linear-gradient(90deg, #000 -1.38%, transparent 67.46%);
}

.heading__content {
  width: 100%;
  top: 50%;
  max-width: 768px;
  padding-right: 10px;
  z-index: 2;
  left: 50px;
  position: absolute;
  padding-left: 10px;
}
@media screen and (min-width: 640px) {
  .heading__content {
    top: calc(50% - 100px);
  }
}
@media screen and (min-width: 1440px) {
  .heading__content {
    top: calc(50vh - 250px);
  }
}
@media screen and (min-width: 1024px) {
  .heading__content {
    left: 130px;
  }
}
@media screen and (max-width: 639px) {
  .heading__content {
    left: 25px;
  }
}
.heading__content h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
  font-size: calc(6.94444vw + 6.66667px);
  max-width: 100%;
  text-wrap: balance;
}
@media (min-width: 1200px) {
  .heading__content h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 550px) {
  .heading__content h1 {
    font-size: 28px;
  }
}
.heading__content p {
  font-size: calc(1.66667vw + 12px);
  color: #fff;
  line-height: 1.3;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .heading__content p {
    max-width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .heading__content p {
    font-size: 32px;
  }
}
.heading__content .arrow-after {
  color: #fff;
}
.heading__content .arrow-after:after {
  background: url(../images/arrow-right-white.svg) center center/cover no-repeat;
}

.heading__img {
  max-width: 100%;
  width: 100%;
  align-self: start;
  height: 70dvh;
}
.heading__img img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 70dvh;
  -o-object-fit: cover;
     object-fit: cover;
}

.timeline {
  background-color: #f5f5f5;
  padding: 50px 0;
  color: #767676;
  font-weight: 300;
}

.timeline__container h2 {
  margin-bottom: 40px;
  text-align: center;
}

.timeline__row {
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .timeline__row {
    flex-direction: column;
    padding-left: 20px;
  }
}

.timeline__row_content {
  max-width: 400px;
  width: 100%;
  margin-right: 80px;
}
@media screen and (max-width: 767px) {
  .timeline__row_content {
    margin: 0;
    padding: 0 0 0 30px;
  }
}
.reverse-row .timeline__row_content {
  margin-left: 80px;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .reverse-row .timeline__row_content {
    margin: 0;
  }
}

.timeline-title {
  position: relative;
}
.timeline-title h3 {
  font-size: 24px;
  margin-bottom: 15px;
  line-height: 36px;
  position: relative;
  font-weight: 300;
}

.timeline-count {
  position: absolute;
  width: 40px;
  display: inline-block;
  text-align: right;
  left: -50px;
  top: 0;
  color: #c4c4c4;
  font-size: 36px;
  line-height: 36px;
}
@media screen and (max-width: 576px) {
  .timeline-count {
    font-size: 22px;
  }
}

.full {
  min-height: 70vh;
  background: url("../images/about-img-full.jpg") 50% 50%/cover no-repeat;
}

.full__container {
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  padding-top: 26vh;
}
.full__container h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .full__container h2 {
    font-size: 72px;
  }
}
@media screen and (max-width: 550px) {
  .full__container h2 {
    font-size: 32px;
  }
}

.benefit__container {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 100px;
}
@media screen and (max-width: 767px) {
  .benefit__container {
    flex-direction: column;
  }
}

.benefit__item {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}
.benefit__item h3 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 300;
}
.benefit__item p {
  line-height: 140%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefit__item {
    max-width: 300px;
    width: calc(33.3333333333% - 7px);
  }
  .benefit__item:nth-child(3n+2) {
    margin-top: -30px;
  }
}

.benefit__item-img {
  width: 228px;
  height: 228px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 51%;
  margin-bottom: 12px;
}
.benefit__item-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .matter__text-row {
    flex-direction: column;
  }
}

.matter__text {
  color: #767676;
  max-width: 555px;
  width: 45%;
  margin-left: 68px;
  font-weight: 300;
  line-height: 1.41;
  padding-right: 50px;
}
.matter__text h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .matter__text {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    padding-right: 0px;
  }
}

.matter__image {
  max-width: 700px;
  width: 65%;
  position: relative;
  background-size: cover;
  background-position: 50%;
}
@media screen and (max-width: 767px) {
  .matter__image {
    width: 100%;
    max-width: 100%;
  }
}
.matter__image img {
  position: relative;
  left: -10%;
  max-width: 110%;
  width: 120%;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .matter__image img {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .matter__image img {
    padding-right: -10px;
    left: auto;
  }
}

.introduce__container {
  color: #767676;
  font-weight: 300;
}

.introduce__row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .introduce__row {
    flex-direction: column;
  }
}

.introduce__content {
  max-width: 390px;
  width: 100%;
}

.introduce__benefit {
  position: relative;
  width: 70%;
  padding-right: 220px;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .introduce__benefit {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
}

.introduce__img {
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .introduce__img {
    aspect-ratio: 1;
  }
}
.introduce__img img {
  max-width: 600px;
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

ul.introduce__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  min-height: 350px;
  z-index: 4;
}
@media screen and (max-width: 1200px) {
  ul.introduce__list {
    width: 2px;
  }
}
@media screen and (max-width: 767px) {
  ul.introduce__list {
    max-width: 100%;
    width: 100%;
  }
}
ul.introduce__list::before {
  content: "";
  background: url(../images/introduce-before.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: -1px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0;
}
@media screen and (max-width: 767px) {
  ul.introduce__list::before {
    display: none;
  }
}
ul.introduce__list li {
  display: flex;
  gap: 10px;
  position: absolute;
  width: 330px;
}
@media screen and (max-width: 767px) {
  ul.introduce__list li {
    position: relative;
    width: 100%;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  ul.introduce__list li:first-child {
    top: 0;
    left: -48px;
  }
  ul.introduce__list li:nth-of-type(2) {
    top: 120px;
    top: 30%;
    left: 5px;
  }
  ul.introduce__list li:nth-last-of-type(1) {
    bottom: 50px;
    bottom: 10%;
    left: -27px;
  }
}

.eco__wrap {
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .eco__wrap {
    flex-direction: column;
  }
}

.eco__content {
  max-width: 450px;
  width: 100%;
  color: #767676;
  flex: 1 1 50%;
}

.eco__images {
  max-width: 715px;
  width: 100%;
  display: grid;
  grid-template-columns: 390px 320px;
  grid-template-rows: 205px 205px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 1 1 50%;
}
@media screen and (max-width: 767px) {
  .eco__images {
    display: flex;
    flex-direction: column;
  }
}
.eco__images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.eco__images img:nth-of-type(2) {
  grid-area: span 2;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
@media screen and (max-width: 767px) {
  .eco__images img {
    aspect-ratio: 1;
  }
}

.stageSlider {
  padding-bottom: 40px;
}

.stage-slide {
  min-height: 445px;
  height: 445px;
}
.stage-slide img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullets.stage-pagination {
  position: absolute;
  left: calc(50% - 50px);
}

.stage-pagination .swiper-pagination-bullet {
  background-color: #373737;
}

.idea__row {
  gap: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .idea__row {
    flex-direction: column;
  }
}

.idea__descr {
  flex: 0 1 40%;
}
.idea__descr h2 {
  font-size: 16px;
  font-weight: 400;
}

.idea__img {
  flex: 0 1 55%;
}

.idea__img {
  display: flex;
  gap: 10px;
}
.idea__img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 550px) {
  .idea__img img {
    aspect-ratio: 1;
    min-height: 320px;
  }
}
@media screen and (max-width: 550px) {
  .idea__img:has(.idea-img-column) {
    flex-direction: column;
  }
}

.idea-img-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.advant {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.advant__container {
  max-width: 1150px;
  margin: 0 auto;
}
.advant__container h2 {
  font-size: 16px;
  font-weight: 400;
}

ol.advant__items {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 840px;
  counter-reset: custom-counter;
  margin: 0 0 30px 38px;
}
@media screen and (max-width: 767px) {
  ol.advant__items {
    flex-direction: column;
  }
}

li.advant__item {
  width: 48%;
  counter-increment: custom-counter;
  position: relative;
  color: #767676;
}
@media screen and (max-width: 767px) {
  li.advant__item {
    width: 100%;
  }
}
li.advant__item::before {
  content: "0" counter(custom-counter);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 24px;
  color: #b79c7a;
  line-height: 1.2;
  left: -35px;
}
li.advant__item h3 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

.realize__container {
  padding: 30px 0 30px 50px;
  margin: 0 auto;
}
.realize__container h2 {
  margin-bottom: 20px;
  line-height: 96.5%;
  font-size: 16px;
  color: #767676;
}

.realize__link {
  position: relative;
  max-width: 490px;
  min-width: calc(25% - 25px);
  height: 415px;
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 75px 25px 45px;
  cursor: pointer;
  overflow: hidden;
}
.realize__link:hover .realize__img {
  transform: scale(1.1);
}
.realize__link:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.85), transparent);
}
.realize__link .arrow-after {
  color: #b79c7a;
  z-index: 1;
}

.realize__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}

.realize__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 107%;
  z-index: 1;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */