/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #373737;
  background: #fff;
}

main {
  margin-top: 95px;
}
@media screen and (max-width: 367px) {
  main {
    margin-top: 110px;
  }
}

.container {
  max-width: 1450px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.container-small {
  max-width: 1060px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 15px;
}

h2 {
  font-weight: 300;
  font-size: 28px;
}
@media screen and (min-width: 640px) {
  h2 {
    font-size: 36px;
  }
}

.beige {
  font-size: 18px;
  color: #b79c7a;
  font-weight: 300;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  border: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 6px 20px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: none;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: #c3893f;
}

.breadcrumbs {
  padding: 5px 0;
  margin-bottom: 10px;
}
.breadcrumbs__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  font-weight: 300;
}
.breadcrumbs a {
  cursor: pointer;
  color: #494949;
  text-transform: uppercase;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-row_description {
  max-width: 555px;
  font-weight: 300;
  line-height: 1.41;
  padding-left: 15px;
}

.animation-row_image {
  max-width: 700px;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.arrow-after {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #b79c7a;
  transition: 0.3s ease-in-out;
}
.arrow-after:hover {
  color: #c3893f;
}
.arrow-after:after {
  content: "";
  width: 20px;
  height: 15px;
  background: url(../images/arrow-right.svg) center center/cover no-repeat;
}

.mb-m {
  margin-bottom: 60px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .title-row {
    flex-direction: column;
    align-items: flex-start;
  }
}

.breadcrumbs__container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-wrap: nowrap;
}
.breadcrumbs__container a:nth-child(1) {
  text-transform: uppercase;
}
.breadcrumbs__container a {
  color: #767676;
}
.breadcrumbs__container span {
  color: #373737;
  font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 25px 0;
  color: #969696;
  font-size: 12px;
  height: auto;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (min-width: 1440px) {
  .header__container {
    justify-content: space-between;
    gap: 65px;
  }
}
.header__container .menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  .header__container .menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    height: 100dvh;
    z-index: 1;
    max-width: 280px;
    width: 100%;
    padding: 80px 20px 25px;
    background-color: #fff;
    will-change: transform;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }
  .open .header__container .menu {
    transform: translateX(0);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }
}
.header__container .menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 980px) {
  .header__container .menu ul {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    gap: 25px;
  }
}
.header__container .menu ul li {
  font-weight: 400;
  color: #585858;
  font-size: 16px;
}
.header__container .menu ul li a {
  color: inherit;
}
.header__container .menu ul .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: none;
  background-color: #fff;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
@media screen and (min-width: 981px) {
  .header__container .menu ul .sub-menu {
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 240px;
    top: calc(100% + 7px);
    left: 0;
    transform: translateY(10px);
    position: absolute;
    padding: 25px 20px;
  }
}
@media screen and (max-width: 980px) {
  .header__container .menu ul .sub-menu {
    position: static;
    padding: 0;
    opacity: 1;
    transform: none;
    transition: none;
    visibility: visible;
    background-color: transparent;
    box-shadow: none;
    margin-top: 5px;
    gap: 10px;
  }
}
.header__container .menu ul .sub-menu li a:hover {
  color: #a58359;
}
.header__container .menu ul li:has(.sub-menu) {
  position: relative;
  transition: 0.3s linear;
}
@media screen and (min-width: 981px) {
  .header__container .menu ul li:has(.sub-menu):hover .sub-menu, .header__container .menu ul li:has(.sub-menu):focus-within .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.header__container .menu ul li:not(.sub-menu li) {
  position: relative;
}
@media screen and (max-width: 980px) {
  .header__container .menu ul li:not(.sub-menu li) {
    color: #b79c7a;
  }
}
.header__container .menu ul li:not(.sub-menu li)::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b79c7a;
  transform: translateY(7px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.header__container .menu ul li:not(.sub-menu li):hover:before {
  opacity: 1;
  transform: translateY(0);
}
.header__container .menu ul li:not(.sub-menu li) > a {
  font-size: 18px;
  display: flex;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.header__container .menu ul li:not(.sub-menu li) > a .sub {
  margin-top: 0px;
  font-size: 75%;
  line-height: 0;
  position: relative;
  display: block;
}

.header__info {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .header__info {
    margin: 0;
    gap: 30px;
  }
}

.header__lang {
  font-size: 18px;
  line-height: 1.5;
}

.header__call {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .header__call {
    flex-direction: column-reverse;
    gap: 5px;
  }
}

.call {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .call span {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .call svg {
    display: none;
  }
}

.header__popup {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #b79c7a;
    font-weight: 700;
    padding: 0;
  }
}

.burgerBtn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .burgerBtn {
    display: block;
    width: 50px;
    height: 50px;
    border: 0.5px solid #fff;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    right: 0;
    top: calc(50% - 22.5px);
    border-radius: 50%;
    z-index: 10;
  }
  .burgerBtn .btn-menu-line {
    width: 28px;
    height: 2px;
    position: absolute;
    left: 10px;
    background-color: #b79c7a;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .burgerBtn .btn-menu-line1 {
    bottom: 23px;
    transition: bottom 0.1s ease-out, top 0.1s ease-out, transform 0.1s ease-out 0.1s;
  }
  .burgerBtn .btn-menu-line2 {
    top: 14px;
  }
  .burgerBtn .btn-menu-line3 {
    bottom: 14px;
    transition: bottom 0.1s ease-out, top 0.1s ease-out, transform 0.1s ease-out 0.1s;
  }
  .open .burgerBtn .btn-menu-line1 {
    top: 21px;
    transform: rotate(-45deg);
  }
  .open .burgerBtn .btn-menu-line2 {
    opacity: 0;
  }
  .open .burgerBtn .btn-menu-line3 {
    bottom: 24px;
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #2f2f2f;
  color: #fff;
}

.footer__top {
  padding: 65px 0 45px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer__top {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.footer__menu {
  display: flex;
  gap: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__menu {
    max-width: 87%;
  }
}
@media screen and (max-width: 1023px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
  }
}
.footer__menu li {
  text-transform: none;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__menu li a {
  transition: color 0.4s ease-in-out;
}
.footer__menu .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 15px 30px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media screen and (max-width: 640px) {
  .footer__menu .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.footer__menu .sub-menu li > a {
  color: #fff;
  font-size: 16px;
}
.footer__menu li:not(.sub-menu li) {
  text-transform: uppercase;
  color: #b79c7a;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contact {
  display: flex;
  gap: 15px;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .footer__contact {
    flex-direction: column;
    margin: 0;
  }
}

.footer__social {
  display: flex;
  gap: 15px;
}
.footer__social a {
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: 0.3s ease-in-out;
}
.footer__social a svg {
  max-width: 24px;
  max-height: 24px;
}
.footer__social a svg path {
  transition: 0.3s ease-in-out;
}
.footer__social a:hover svg path {
  fill: #b79c7a;
}

.footer__copy {
  padding: 40px 0;
  font-size: 12px;
  line-height: 1.43;
  border-top: 1px solid #636363;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
@media screen and (max-width: 550px) {
  .footer__copy {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__copy p {
  max-width: 38%;
}
@media screen and (max-width: 550px) {
  .footer__copy p {
    max-width: 100%;
  }
}

.hero__container {
  position: relative;
}

.hero__content {
  position: absolute;
  top: calc(50% - 20px);
  max-width: 630px;
  z-index: 2;
  left: 50px;
}
@media screen and (min-width: 640px) {
  .hero__content {
    top: calc(50% - 100px);
  }
}
@media screen and (min-width: 1440px) {
  .hero__content {
    top: calc(50% - 250px);
  }
}
@media screen and (min-width: 1024px) {
  .hero__content {
    left: 130px;
  }
}
@media screen and (max-width: 639px) {
  .hero__content {
    left: 25px;
  }
}
.hero__content div {
  font-weight: 300;
  line-height: 1;
  color: #fff;
  font-size: calc(6.94444vw + 6.66667px);
}
.hero__content a {
  color: #b79c7a;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero__content a svg {
  max-width: 38px;
  max-height: 38px;
}

.hero__video {
  max-width: 100%;
  width: 100%;
  align-self: start;
  height: 100%;
}
.hero__video video {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 100%;
}

.mouse {
  max-width: 16px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.mouse svg {
  max-width: inherit;
}
.mouse:after {
  content: "";
  width: 16px;
  height: 10px;
  background: url(../images/arrow-short-down.svg) center center/contain no-repeat;
}

.about {
  padding: 150px 0;
}
@media screen and (max-width: 767px) {
  .about {
    padding: 75px 0;
  }
}

.about__container h1 {
  font-weight: 300;
  font-size: 28px;
  line-height: 110%;
  margin-bottom: 65px;
  color: #767676;
}
@media screen and (min-width: 640px) {
  .about__container h1 {
    font-size: 36px;
  }
}

.about__intro_row {
  gap: 60px;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 767px) {
  .about__intro_row {
    flex-direction: column;
    gap: 30px;
  }
}
.about__intro_row:before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 40%;
  height: 110%;
  z-index: -1;
  background: url(../images/Mask-Group.png) center center/cover no-repeat;
}
@media screen and (max-width: 767px) {
  .about__intro_row:before {
    top: 0;
    width: 100%;
    height: calc(65% - 20px);
    background-position: top;
  }
}
@media screen and (max-width: 550px) {
  .about__intro_row:before {
    height: calc(50% + 2vw);
    min-height: 240px;
  }
}

.intro__description {
  flex: 1 1 45%;
  width: calc(50% - 30vw);
  color: #767676;
}
@media screen and (max-width: 767px) {
  .intro__description {
    width: 100%;
  }
  .intro__description p {
    margin-bottom: 20px;
  }
}

.intro__image {
  display: flex;
  justify-content: flex-end;
  width: calc(25% - 30px);
  flex: 1 1 45%;
  color: #767676;
}
@media screen and (max-width: 867px) {
  .intro__image {
    justify-content: flex-end;
    flex: 0 1 40%;
    margin-left: -3%;
  }
}
@media screen and (max-width: 767px) {
  .intro__image {
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
}

.intro__image-content {
  margin-right: -6%;
  margin-top: 0px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  height: 80%;
}
@media screen and (max-width: 867px) {
  .intro__image-content {
    margin: 0;
  }
}
.intro__image-content div {
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.intro__description div {
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
}
.intro__description ul {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 550px) {
  .intro__description ul {
    flex-wrap: wrap;
  }
}
.intro__description ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 1 25%;
  width: auto;
}
@media screen and (max-width: 550px) {
  .intro__description ul li {
    flex: 1 1 45%;
  }
}
.intro__description ul li div {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  flex: 1 1 50%;
}
.intro__description ul .count {
  font-size: 40px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}
.intro__description ul .count span {
  font-size: 25px;
  display: block;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

.parallax-item {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
.parallax-item-left {
  background-image: url("../images/parallax-item-3-left@2x.jpg");
  background-size: 735px;
  background-position: left -50px bottom;
  opacity: 0.85;
  transform: translateY(6.25%);
}
.parallax-item-right {
  background-image: url("../images/parallax-item-1@2x.jpg");
  background-size: 735px;
  background-position: right -57% top;
  opacity: 0.85;
  transform: translateY(6.25%);
}

section {
  position: relative;
  overflow: hidden;
}
section .parallax-item {
  z-index: -1;
}
section .container {
  position: relative;
}

@media screen and (max-width: 576px) {
  .parallax-item {
    display: none;
  }
}
.image__text,
.image__image {
  flex: 1 1 45%;
}
@media screen and (max-width: 767px) {
  .image__text,
  .image__image {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.image__text-row {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .image__text-row {
    flex-direction: column;
  }
}

.image__text p {
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .image__text {
    padding: 10px;
  }
}

.image__image {
  position: relative;
}
@media screen and (max-width: 767px) {
  .image__image {
    aspect-ratio: 1/0.75;
  }
}

.image__text-row.row-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .image__text-row.row-reverse {
    flex-direction: column;
  }
}

.image__text-row:has(.swiper) .image__text {
  flex: 1 1 15%;
}
.image__text-row:has(.swiper) .image__image {
  aspect-ratio: auto;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .image__text-row:has(.swiper) .image__image {
    max-width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .image__text-row:has(.swiper) .image__image {
    max-width: 100%;
  }
}

.carousel {
  max-width: 90%;
  position: relative;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  overflow: hidden;
}
.carousel-slide:hover img {
  transform: scale(1.1);
}

.carousel-btn {
  display: block;
  position: absolute;
  top: calc(50% - 40px);
  z-index: 2;
  cursor: pointer;
}
.carousel-btn:hover {
  transform: scale(1.2);
}

.carousel-button-prev {
  right: inherit;
  left: 0;
}

.carousel-button-next {
  right: 0;
}

.art-name {
  font-size: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #333;
}

.art-price {
  color: #b79c7a;
}

.owl {
  padding: 40px 0 60px;
}

.owl-slide {
  display: flex;
  background: #ebebeb;
}
@media screen and (max-width: 767px) {
  .owl-slide {
    flex-direction: column;
  }
}

.owl-slide img {
  flex: 0 0 58%;
  max-width: 58%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}
@media screen and (max-width: 1023px) {
  .owl-slide img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}
@media screen and (max-width: 767px) {
  .owl-slide img {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.owl-slide-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #767676;
  flex: 0 0 41%;
  max-width: 41%;
  padding: 30px;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .owl-slide-content {
    padding: 60px;
  }
}
@media screen and (max-width: 767px) {
  .owl-slide-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.owl-slide-content h2 {
  line-height: 1.1;
}

.action {
  color: #b79c7a;
  font-size: 16px;
}

.manufacture {
  background-color: #fff;
}

.manufacture-wrap {
  height: auto;
}

.manufacture__container {
  overflow: auto;
  z-index: 0;
  transition: 0.3s ease;
}
.manufacture__container h2 {
  margin: 25px 0 10px;
  font-size: 24px;
}
.manufacture__container p {
  margin-bottom: 20px;
}
.manufacture__container p:has(+ ul) {
  margin-bottom: 0;
}
.manufacture__container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 20px;
  margin-left: 20px;
}

.manufacture-btn {
  background: none;
  color: black;
  margin: 20px 0;
  font-weight: 700;
  outline: none;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;
}

.news__title {
  color: #767676;
  margin-bottom: 40px;
}
.news__title h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.news__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.news__item span {
  font-weight: 300;
  color: #919191;
}
.news__item:hover > .news__item-img img {
  transform: scale(1.2);
}

.news__item-img {
  display: flex;
  margin-bottom: 20px;
  max-height: 230px;
  height: auto;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
}
.news__item-img img {
  transition: 0.3s ease-in-out;
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners__container {
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .partners__container {
    flex-direction: column;
  }
}

.partners__descr {
  flex: 0 0 24%;
}
.partners__descr h2 {
  margin-bottom: 40px;
}
.partners__descr p {
  margin-bottom: 20px;
}

.partners__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
@media screen and (max-width: 1023px) {
  .partners__images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .partners__images {
    display: flex;
    flex-direction: column;
  }
}
.partners__images img {
  max-width: 100%;
  width: 100%;
  max-height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__wrapper {
  display: flex;
  background-color: #f5f5f5;
}
@media screen and (max-width: 980px) {
  .form__wrapper {
    flex-direction: column;
    gap: 40px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 40%;
  padding: 30px 60px;
  color: #767676;
}
@media screen and (max-width: 550px) {
  .form__container {
    padding: 20px 30px;
  }
}
.form__container h2 {
  font-size: 36px;
  line-height: 96%;
  font-weight: 300;
  margin-bottom: 30px;
}
.form__container form {
  max-width: 415px;
}
.form__container form input:invalid, .form__container form input:valid {
  box-shadow: none;
  outline: none;
}
.form__container form input, .form__container form textarea {
  outline: none;
}
.form__container form textarea {
  resize: none;
  max-height: 45px;
  padding: 10px 5px;
  margin-bottom: 30px;
}
.form__container form input[type=submit] {
  display: inline-block;
  border: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #b79c7a;
  padding: 6px 20px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: none;
  transition: 0.2s ease-in-out;
  color: #fff;
  max-width: 245px;
  width: 100%;
}
.form__container form input[type=submit]:hover {
  background-color: #c3893f;
}

.wpcf7-form-control-wrap {
  position: relative;
}

.form__field,
.form__select,
.wpcf7-form__field,
.wpcf7-form__select {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  padding: 10px 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100.9%;
  color: #373737;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 0;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.form__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form__img img {
  width: 100%;
  aspect-ratio: 1/0.6;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 550px) {
  .form__img img {
    aspect-ratio: 1/1;
  }
}

.filters h1 {
  color: #767676;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .filters h1 {
    font-size: 32px;
  }
}

.filters__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0;
  border-bottom: 2px solid #f5f5f5;
}
@media screen and (max-width: 550px) {
  .filters__category {
    padding: 20px 0;
  }
}

.filter__category {
  flex: 1 0 auto;
  min-width: 155px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media screen and (max-width: 550px) {
  .filter__category {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.filter__category:hover span {
  color: #c3893f;
}
.filter__category span {
  transition: 0.3s ease-in-out;
  display: block;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}
.filter__category img {
  max-width: 140px;
  width: 100%;
  max-height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 550px) {
  .filter__category img {
    max-width: 100%;
    aspect-ratio: 1/0.7;
  }
}

.products.grid-marking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1023px) {
  .products.grid-marking {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .products.grid-marking {
    display: flex;
    flex-direction: column;
  }
}

.products.flex-marking {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  gap: 40px;
  width: 100%;
}
.products.flex-marking .product-card {
  flex-direction: row;
  width: 100%;
}
.products.flex-marking .product-card:hover .product-card-img-hover {
  opacity: 1;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  top: -20px;
  left: -20px;
}
@media screen and (max-width: 767px) {
  .products.flex-marking .product-card {
    flex-direction: column;
  }
}
.products.flex-marking .product-card-img {
  width: 50%;
  height: 100%;
  aspect-ratio: 1/0.5;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .products.flex-marking .product-card-img {
    width: 100%;
  }
}
.products.flex-marking .product-card-img-hover img {
  -o-object-fit: cover;
     object-fit: cover;
}
.products.flex-marking .product-card-content {
  width: 50%;
  padding: 20px;
}
.products.flex-marking .product-card-content p {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}
@media screen and (max-width: 767px) {
  .products.flex-marking .product-card-content {
    width: 100%;
  }
}

.product-category {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0 5px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  flex: 0 0 33%;
  height: auto;
  width: 100%;
}
.product-card h3 {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 300;
}

.product-card:hover .product-card-img-hover {
  opacity: 1;
  width: calc(100% + 40px);
  height: calc(100% + 20px);
  top: -20px;
  left: -20px;
}

.product-card-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  position: relative;
  aspect-ratio: 1/1;
  position: relative;
  margin-bottom: 20px;
}
.product-card-img img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) and (min-width: 550px) {
  .product-card-img img {
    aspect-ratio: 1/0.5;
  }
}

.product-card-price {
  color: #b79c7a;
}

.product-card-img-hover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 767px) {
  .product-card-img-hover {
    display: none;
  }
}
.product-card-img-hover img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card-content {
  display: block;
  width: 100%;
}
.product-card-content p {
  display: none;
}

.filter__parameters {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 980px) {
  .filter__parameters {
    flex-direction: column;
  }
}

.product-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 980px) {
  .product-filters {
    flex-direction: column;
  }
}

.filter__parameters-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #373737;
  pointer-events: all;
}

.nice-select {
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  position: relative;
  text-align: left;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: none;
  background-color: #fff;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 200px;
  top: calc(100% + 7px);
  left: -10px;
  transform: translateY(10px);
  position: absolute;
}

.option {
  text-align: left;
  transition: all 0.2s;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  cursor: pointer;
  color: #373737;
  border: 0;
  font-weight: 300;
  width: 100%;
  padding: 0 20px;
}
.option:hover {
  background-color: #f6f6f6;
}

.nice-select.open .list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transform: translateY(0);
}

.nice-select:after {
  right: 0;
  border: 0;
  top: 14px;
  background-image: url(../images/angle-right.svg);
  background-size: contain;
  height: 6px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: rotate(0);
  transition: all 0.3s ease;
  transform-origin: center;
}

.nice-select:hover, .nice-select:active, .nice-select:focus {
  border-color: #999;
}

.sort-view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-tile-list {
  display: flex;
  gap: 5px;
  align-items: center;
}

.view-btn {
  background: none;
  border: none;
  outline: none;
}

.view-btn-active svg {
  fill: #b79c7a;
}/*# sourceMappingURL=style.css.map */